        #view{
            touch-action: manipulation;
        }

        body {
            margin: 0;
            padding: 0;
            border: 0;
            user-select: none;
            max-width: 100%;
            background-color: var(--grass);
            position: relative;
        }

        html,
        body {
            overscroll-behavior-block: contain;
            overflow-x: hidden;
            overflow-y: hidden;
            position: fixed;
            width: 100%;
            height: 100%;
        }


        :root {
            --grass:#fbf2e3;
            --highlight: #A4AC86;
            --background: #254336;
            --line: #C2C5AA;
            --word: #DAD3BE;
            --shadow: #414833;
            --faded: #8caf8c; 
            --wrong: #790909;
            --labelDiv:rgb(54, 125, 105);
            --disable:#15241d;
          }

        .gu-transit { display: none }
        /* #oneDiv {
            color: blueviolet;
        } */

        .wordContainer {
            /* background-color: aquamarine; */
            font-size: 3em;
            display: inline-block;
            color: var(--word);
        }

        .letterContainer {
            font-size: 3em;
            display: inline-block;
            color: var(--word);
        }

        .arrow {
            z-index: -1;
        }

        .selected {
            /* font-weight: bold; */
            background-color: var(--highlight);
            user-select: none;
            color:var(--shadow);
        }

        .hidden {
            /* display: none; */
            visibility: hidden;
            height: 2em;
        }

        .hide {
            visibility: hidden;
            pointer-events: none;
        }

        .faded {
            color: var(--faded);
            /* visibility: hidden; */
            /* display: none; */
        }

        .morphoHide {
            visibility: hidden;
            pointer-events: none;
            padding: 0 !important;
        }

        @keyframes animateWrong {
            0% {
                background-color: var(--wrong);
                transform: scale(1);
            }

            50% {
                background-color: var(--wrong);
                transform: scale(1.1);
            }

            100% {
                background-color: var(--wrong);
                transform: scale(1);
            }

        }

        .animateWrong {
            animation: 0.5s forwards alternate animateWrong;
        }

        a.introjs-button.introjs-nextbutton{
            background-color: red;
            background-image: none;
            text-shadow:none;
            color: var(--word);
        }

        .introjs-tooltiptext {
            font-size:2.7rem;
        }

        a.menu_links { cursor: pointer; }

        .introjs-tooltip{
            background-color: var(--highlight);
        }

        .introVideo {
            width:26rem;
        }

        .introjs-helperLayer {
            background: transparent;
        }

        #tourButton {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 3rem;
        }

        #dialog {
            top: 15%;
            left:10%;
            font-size: 2rem;
            width:35rem;
            position: fixed;
            margin: auto;
        }

        #finishMeme {
            width: 30rem;
            
        }

        #problemInfo {
            position: absolute;
            border-radius: 0.1rem;
            background-color: var(--highlight);
            width: 100%;
            padding: 0 !important;
            bottom: 0;
            text-align: center;
            font-size: 2.3rem;
        }

        #menu div {
            padding: 0.5rem;


        }

        #sentenceContainer div {
            padding: 1em;


        }

        .problemList {
            display: flex;
            flex-direction: row;
            
        }

        .hole {
            text-decoration: none;
            color: var(--word);
            font-size: 2rem;
            padding: 3rem 0 3rem 0 !important;
        }

        #lineContainer {
            width: 100%;
            height: 100%;
        }

        #problemConstituent,
        #lineContainer,
        #stage {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 2%;
        }

        #stage {
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            background-color: var(--background);

        }

        #problemConstituent {
            /* flex-flow: column wrap; */
            width: 95%;
            height: 100%;
            display: grid;
            grid-auto-rows: min-content;

        }

        #sentenceContainer .constituentContainer {
            /* border: 1px solid white; */
            padding:.1em;
        }

        #sentenceContainer .wordContainer {
            padding:.5em .15em .3em .15em;
        }

        #sentenceContainer .letterContainer {
            padding: .5em 0 .3em 0;
        }

        .block {
            /* display: inline-block; */
            place-self: center;
            /* display: flex; */
            
            /* justify-content: space-around; */
            /* text-align: center; */
            white-space: nowrap;
            /* flex-flow: column wrap; */
            flex-direction: column;
            /* align-items: stretch; */
            /* align-content: stretch; */
            padding: 1em;
            /* justify-content: flex-start; */
            /* align-items: space-evenly; */
        }

        .wordContainer {
            /* background-color: rgba(137, 43, 226, 0.208); */

        }

        .noPad {
            padding-left: 0 !important; 
        }

        #sentenceContainer .labelDiv {
            /* position:absolute; */
            /* margin: auto; */
            padding: 0.1em .5em .1em .5em;
            /* width: 1.5em; */

            /* height: 0.7em; */
            left: 0;
            top: 0;
            /* background-color: rgba(137, 43, 226, 0.208); */
            text-align: center;
            font-size: 3em;
            color:#eeeeee;
            position:relative;
        }

        #sentenceContainer .labelMenu {
            display: grid;
            position: absolute;
            grid-template-rows: repeat(auto-fit, 0.6em);
            grid-template-columns: repeat(3, 2.3em);
            background-color: var(--labelDiv);
            z-index: 1000;
            left: -0.03em;
            top:1.5em;
            /* border-radius: 10%; */
            border: .02em solid rgba(255, 255, 255, .8);
            /* flex-wrap: wrap; */
             /* justify-content: center; */
             /* position:relative; */
            padding: 0.4em;
            grid-auto-flow: row dense;
        }

        #sentenceContainer .labelItem {
            /* flex: 33%; */
            font-size: 0.5em;
            margin: auto;
            padding: 0;
            border: 0.01em;
            text-align: center;
        }

        .bar::after {
            content: "'"
        }

        .phrase::after {
            content: "P"
        }

        #sentenceContainer .typeMenu {
            /* display: flex; */
            /* position:relative;
*/
            border: 0;
            grid-row: 6/6;
            grid-column: 1/3;
            justify-content: center;
        }

        #sentenceContainer .typeItem {
            display: inline-block;
            width: 50%;
            font-size: 0.5em;
            padding: 0.8em;
        }

        .typeMenu {
            padding: 0.5em 0 0 0 !important;
            width: 100%;
        }

        .labelItem:hover,
        .typeItem:hover,
        .button:hover {
            cursor: pointer;
        }

        .typeItem {
            border-color: var(--line);
            border: 0.1rem solid;
        }

        .button {
            text-align: center;
            font-size: 3rem;
            width: 10rem;
            margin: auto;

        }

        .button,
        .labelDiv {
            background-color: var(--labelDiv);
            /* border-radius: 10%; */
            border: .02em solid rgba(255, 255, 255, .8);
        }

        .labelDiv {
            /* min-width: 5em; */
        }

          
        .branch,
        .arrow {
            /* lines of tree */
            stroke: var(--line);
            stroke-width: 0.3em;
            stroke-linecap: round;
        }

        #triangle {
            fill: var(--line);
        }

        .container {
            display: grid;
            /* grid-auto-rows: auto; */
            /* grid-auto-columns: max-content; */
            grid-auto-flow: column;
            grid-template-rows: max-content;
            /* grid-template-columns: repeat(1, 1fr); */
            /* justify-content: center; */
            align-items: center;
            margin: 3em 10em 0 10em;
            cursor: pointer;
        }

        .container:first-child {
            grid-template-columns: auto;
            /* justify-content: flex-start; */
            justify-content: center;
        }

        #menu {
            left: 0;
            width: 20%;
            height: 100%;
            color:#eeeeee;
            font-size: 2.8rem;
            border-width: 0 .1em 0 0;
            border-color: #eee;
            border-style: solid;
            /* background-color:aliceblue; */
        }

        .disable {
            pointer-events: none;
            color: var(--disable);
        }

        #sentenceContainer {
            left: 20%;
            width: 80%;
            height: 100%;
            /* background-color:bisque; */
        }

        #points {
            font-size:2.5rem;
        }

        #menu,
        #sentenceContainer {
            position: absolute;
            margin: 0;
            padding: 0;
           
        }


        .first {
            /* position: relative; */

        }

        /* .first::before{
            content:"<img>"
        } */

        #grading {
            display: none;
        }