body {
	font-family: Helvetica, sans-serif;
	/* font-size:40rem; */
}

.displayBox{
	background-color: #efefef;
	padding:  0rem 0rem 30rem 0rem;
	display: flex;
	width: 100%;

	
	
	
}

.pop-iems{
	width:30%;
}
.pop-cont{
	width:10%;
}
div{
	/* flex-grow: 1; */
	flex-wrap:wrap;
	display:flex;
	border:1% solid blue;
	margin:2%;
	font-size:.95rem;
}
.hide{
	visibility: hidden;
}
.parse {
	display: flex;
	

		flex-wrap: nowrap;
}
.header {
	text-align: center;
	font-size: 12rem;
	border-bottom: 1rem solid #fff;
	width: 100%;
	color: #fff;
	background-color: #130e5a;
}

.header h1 {
	margin: 0rem;
	padding: 5rem 0rem;
}

div.icon-box-top {
	margin: 50rem 0rem 25rem 0rem;
	display: block;
	float: left;
	clear: both;
}

div.icon-box {
	margin: 25rem 0rem 25rem 0rem;
	display: block;
	float: left;
	clear: both;
}

p.icon-text, p.menuText {
	display: block;
	margin-left: 45rem;
	margin-bottom: 0rem;
	float: left;
}

p.menuText {
	margin-left: 20rem !important;
	margin-top: 0rem;
}

.textPopup {	/*When attaching popups to text menus, style text menu separately*/
	display: block;
	font-size: 28rem;
	font-weight: bold;
	color: #130e5a;
	margin: 0rem 0rem 0rem 75rem;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	float: left;
	z-index: 1;
}

p.textPopup.pressed {
	color: #02baf2 !important;
}

div#myPopUp, 
div#myPopUp2, 
div#myPopUp3,
div#myPopUp4 {
	margin-left: 75rem;
	display: inline-block;
}



a {
	text-decoration: none;
}
